*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  box-sizing: border-box;
}

/********************************* Header *********************************/

.header-container {
  height: 100vh;
  background-image: linear-gradient(
      to left bottom,
      hsla(0, 0%, 21%, 0.8),
      hsla(0, 0%, 0%, 0.8)
    ),
    url("../img/background.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}

.header-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 15rem;
}

.header-img {
  height: 20rem;
  border-radius: 10rem;
}

.header-h1 {
  font-size: 6rem;
}

.header-span {
  font-size: 2rem;
}

.icons {
  font-size: 4rem;
  list-style-type: none;
  width: 25rem;
  display: flex;
  justify-content: space-between;
  animation: moveInBottom 1s;
}

.icons li > a:visited,
.icons li > a:link {
  color: #fff;
}

.icons li > a:hover,
.icons li > a:active {
  color: #003b23;
  transition: all 0.4s ease;
}

/********************************* About *********************************/

.about-container {
  background-color: hsl(0, 0%, 4%);
}

.about-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.about-img {
  margin-top: 2rem;
  height: 35rem;
  width: 60rem;
  align-content: center;
}

.about-h2 {
  font-size: 6rem;
  text-align: center;
  border-bottom: solid 0.1rem;
  padding: 1rem;
}

.about-p {
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
}

/********************************* Skills *********************************/

.skills-container {
  background-color: hsl(0, 0%, 4%);
}

.skills-h2 {
  font-size: 6rem;
  text-align: center;
  padding: 1rem;
  border-bottom: solid 0.1rem;
}

.container-skillbar {
  width: 100%;
  padding-top: 3rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  height: auto;
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 1.5rem;
  width: 100%;
  background: #efefef;
  height: 3rem;
  border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 11rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: #fff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 0.3rem;
  -webkit-border-bottom-left-radius: 0.4rem;
  -moz-border-radius-topleft: 0.3rem;
  -moz-border-radius-bottomleft: 0.3rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.15);
  padding: 0 2rem;
  height: 3rem;
  line-height: 3rem;
  -webkit-border-top-left-radius: 0.3rem;
  -webkit-border-bottom-left-radius: 0.3rem;
  -moz-border-radius-topleft: 0.3rem;
  -moz-border-radius-bottomleft: 0.3rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.skillbar-bar {
  height: 3rem;
  width: 0;
  border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
}

.skill-bar-percent {
  position: absolute;
  right: 1rem;
  top: 0;
  font-size: 1.4rem;
  height: 3rem;
  line-height: 3rem;
  color: #fff;
  color: rgba(0, 0, 0, 0.5);
}

#skillbar-last {
  margin: 0;
}

/********************************* Footer *********************************/

.footer-container {
  background-color: hsl(0, 0%, 4%);
  padding-top: 3rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 3rem;
}

.footer-ul {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.footer-h2 {
  font-size: 6rem;
  text-align: center;
  padding: 1rem;
  border-bottom: solid 0.1rem;
  width: 100%;
}

.footer-p {
  font-size: 2rem;
}

.footer-icons {
  width: 50rem;
  font-size: 10rem;
  margin-top: 2rem;
}

/********************************* Formulario *********************************/
.form-container{
  display: flex;
  flex-flow: column wrap;
}

.form-php {
  width: 30rem;
} 

.form-label {
  font-size: 2rem;
}

.form-input {
  width: 40rem;
  height: 4rem;
  border-radius: .8rem;
  text-align: center;
  margin-top: .2rem;
}

.form-msg {
  width: 40rem;
  height: 10rem;
  border-radius: .8rem;
  text-align: center;
  font-size: 2rem;
  margin-top: .2rem;
}

.form-btn {
  width: 12rem;
  height: 4rem;
  border-radius: .8rem;
  margin-left: 18rem;
  margin-top: 1rem;
  cursor: pointer;
}

.form-php label.nao-aparece, .form-php input.nao-aparece {
	display: none !important;
}

#form-erro span, #form-send span  {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
	display: block;
}

#form-send {
	color: #31aa39;
}

#form-erro {
	color: #f64540;
}

/********************************* Animações *********************************/

.header-img,
.header-h1,
.header-span {
  opacity: 0;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  100% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    opacity: 1;
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    opacity: 1;
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

/********************************* MediaQuery *********************************/

@media only screen and (max-width: 720px) {
  .about-content {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-icons {
    width: 25rem;
    font-size: 5rem;
  }

  .footer-p {
    font-size: 1.6rem;
  }

  .about-img {
    height: 35rem;
    width: 32rem;
    margin-top: 2rem;
  }
}
