*,
*::before,
*::after  {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    box-sizing: border-box;
}

/********************************* Header *********************************/

.header-container {
    height: 100vh;
    background-image: linear-gradient(
        to left bottom, 
        hsla(0, 0%, 21%, 0.8), 
        hsla(0, 0%, 0%, 0.8)),
        url('../img/background.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    /* clip-path: polygon(0 0, 100% 0, 100% 94%, 0% 100%);   */
}

.header-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;   
    padding-top: 15rem;
}

.header-img {
    height: 20rem;
    border-radius: 10rem;
    animation: moveInBottom 1s;
}

.header-h1 {
    font-size: 6rem;
    animation: moveInLeft 1s ease-out; 
}

.header-span {
    font-size: 2rem;
    animation: moveInRight 1s ease-in;
}

.icons {
    font-size: 4rem;
    list-style-type: none;
    width: 20rem;
    display: flex; 
    justify-content: space-between;
}

.icons li > a:visited {
    color: #fff;
}

.icons li > a:hover{
    color: #003b25;
}

/********************************* About *********************************/

.about-container {
   background-color: hsl(0, 0%, 4%);
}

.about-content {
    display: flex;
}

.about-h2 {
    font-size: 6rem;
    text-align: center;
    border-bottom: solid .1rem;
    padding: 1rem;
}

.about-p1 {
    font-size: 2.2rem;
    width: 40%;
    margin: 4rem;
    text-align: left;
}

.about-p2 {
    font-size: 2rem;
    width: 60%;
    margin: 4rem;
    text-align: left;
}

/********************************* Skills *********************************/

.skills-container {
    background-color: hsl(0, 0%, 4%);
}

.skills-h2 {
    font-size: 6rem;
    text-align: center;
    padding: 1rem;
    border-bottom: solid .1rem;
}

.container-skillbar {
      width:100%;
      padding-top:30px;
      height:auto;
      overflow:none;
}

.skillbar {
      position:relative;
      display:block;
      margin-bottom:1.5rem;
      width:100%;
      background:#efefef;
      height:3rem;
      border-radius:.3rem;
      -moz-border-radius:.3rem;
      -webkit-border-radius:.3rem;
      -webkit-transition:0.4s linear;
      -moz-transition:0.4s linear;
      -ms-transition:0.4s linear;
      -o-transition:0.4s linear;
      transition:0.4s linear;
      -webkit-transition-property:width, background-color;
      -moz-transition-property:width, background-color;
      -ms-transition-property:width, background-color;
      -o-transition-property:width, background-color;
      transition-property:width, background-color;
  }

  .skillbar-title {
      position:absolute;
      top:0;
      left:0;
      width:11.0rem;
      font-weight:bold;
      font-size:1.3rem;
      color:#fff;
      background:#6adcfa;
      -webkit-border-top-left-radius:.3rem;
      -webkit-border-bottom-left-radius:.4rem;
      -moz-border-radius-topleft:.3rem;
      -moz-border-radius-bottomleft:.3rem;
      border-top-left-radius:.3rem;
      border-bottom-left-radius:.3rem;
}

.skillbar-title span {
      display:block;
      background:rgba(0, 0, 0, 0.15);
      padding:0 2rem;
      height:3rem;
      line-height:3rem;
      -webkit-border-top-left-radius:.3rem;
      -webkit-border-bottom-left-radius:.3rem;
      -moz-border-radius-topleft:.3rem;
      -moz-border-radius-bottomleft:.3rem;
      border-top-left-radius:.3rem;
      border-bottom-left-radius:.3rem;
  }

.skillbar-bar {
      height:3rem;
      width:0;
      border-radius:.3rem;
      -moz-border-radius:.3rem;
      -webkit-border-radius:.3rem;
}

.skill-bar-percent {
      position:absolute;
      right:1rem;
      top:0;
      font-size:1.1rem;
      height:3rem;
      line-height:3rem;
      color:#ffffff;
      color:rgba(0, 0, 0, 0.5);
}

#skillbar-last {
    margin: 0;
}

/********************************* Footer *********************************/

.container-footer {
    background-color: hsl(0, 0%, 4%);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}

.footer-p {
    font-size: 2rem;
}

.footer-icons {
    padding-top: 2rem;
}

/********************************* Animações *********************************/

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
/********************************* MediaQuery *********************************/

@media only screen and (max-width: 720px) {
    .about-content {
        display: flex;
        flex-wrap: wrap;
    }
}
